main {    
  max-width: 60%;
  margin: 0 auto;
  padding: 2vw;
  border: .3vw solid darkgray;
  font-family: "Open Sans";
  font-size: 18px;
}

.showcase {
  display: flex;
  justify-content: center;
  align-content: center;
}

.showcase img {
  max-width: 50%;
}

.table {
  display: grid;
  grid-template-columns: 30% 60%;
  text-align: left;
}

.contact {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact img {
  display: block;
  max-width: 4vw;
  padding: 5vw;
  cursor: pointer;
}

.contact span {
  margin-bottom: 2vh;
}